hylozoa.exe
*.o
bin/
lib/

build/
build/.github
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
_deps
Makefile
CMakeSettings.json
CppProperties.json

.direnv/
*.cmake
tests/testSuite
.vscode/
.idea/
.vs/
*.a
*.so
doxygen/
compile_commands.json
graphicTest
.vs
hylozoa_engine_main
*.hylozoa